NEXT_PUBLIC_WP_GRAPHQL_URL=http://headless-test.local/graphql
NEXT_PUBLIC_WP_AUTH_USER=your-wp-username
NEXT_PUBLIC_WP_AUTH_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx-xxxx-xxxx
WP_PREVIEW_SECRET=any-secret-string-you-choose
