@use "variables" as *;
// Block: hero-unit - Frontend Styles
.hero-unit {
    position: relative;

    .overlay {
        @include cover();
    }

    > .container {
        position: relative;
    }

    &[class*="h-"],
    &[class*="vh-"] {

        .hero-section--wrapper {
            height: 100%;

            > .container,
            > .container-fluid {
                height: 100%;
            }
        }
    }
}
