:root {
  // Links
  --link: #{c(pickled-bluewood)};
  --link-hover: #{c(guardsman-red)};
  --link-decoration-line: none;
  --link-decoration-style: solid;
  --link-decoration-color: #{c(guardsman-red)};
  --link-hover-decoration-line: none;
  --link-hover-decoration-style: solid;
  --link-hover-decoration-color: #{c(guardsman-red)};

  //TODO: Add card box shadow & text shadow
  //TODO: Add text transform and letter spacing to card title/text
  // Cards
  --card-bg: #{c(white)};
  --card-hover-bg: #{c(white)};
  --card-border-width: #{rem-calc(1px)};
  --card-border-color: #{c(black)};
  --card-hover-border-color: #{c(black)};
  --card-border-style: solid;
  --card-border-radius: 0;
  --card-text-align: left;
  --card-label-color: #{c(black)};
  --card-hover-label-color: #{c(black)};
  --card-label-font-size: #{rem-calc(18px)};
  --card-label-font-family: #{$font-stack-alternate};
  --card-label-font-weight: bold;
  --card-label-font-style: normal;
  --card-label-line-height: #{$line-height-base};
  --card-title-color: #{c(black)};
  --card-hover-title-color: #{c(black)};
  --card-title-font-size: #{rem-calc(32px)};
  --card-title-font-family: #{$font-stack-headings};
  --card-title-font-weight: bold;
  --card-title-font-style: normal;
  --card-title-line-height: #{$headings-line-height};
  --card-subtitle-color: #{c(black)};
  --card-hover-subtitle-color: #{c(black)};
  --card-subtitle-font-size: #{rem-calc(24px)};
  --card-subtitle-font-family: #{$font-stack-headings};
  --card-subtitle-font-weight: bold;
  --card-subtitle-font-style: normal;
  --card-subtitle-line-height: #{$headings-line-height};
  --card-text-color: #{c(black)};
  --card-hover-text-color: #{c(black)};
  --card-text-font-size: 1rem;
  --card-text-font-family: #{$font-stack-base};
  --card-text-font-weight: normal;
  --card-text-font-style: normal;
  --card-text-line-height: #{$line-height-base};

  // Body
  --body-bg: #{$body-bg};
  --body-text: #{$body-color};

  // Grid
  --grid-columns: #{$grid-columns};
  --grid-gutter-width: #{$grid-gutter-width};
  --grid-column-padding: #{$grid-gutter-width * .5};
  --grid-row-columns: #{$grid-row-columns};

  // Headings
  --h1-font-size: calc(#{$font-size-base} * 4.625);
  --h2-font-size: calc(#{$font-size-base} * 3.29166667);
  --h3-font-size: calc(#{$font-size-base} * 3.04166667);
  --h4-font-size: calc(#{$font-size-base} * 2.708333);
  --h5-font-size: calc(#{$font-size-base} * 1.4166667);
  --h6-font-size: calc(#{$font-size-base} * 1.125);
  --heading-line-height: 1.2;

  // Global Transitions
  --global-transition-properties: none;
  --global-transition-duration: .25s;
  --global-transition-timing-function: ease-in-out;

  // Paragraph
  --paragraph-font-size: 1rem;
  --paragraph-line-height: #{$line-height-base};
  --font-size-lg: calc(#{$font-size-base} * 1.25);
  --font-size-sm: calc(#{$font-size-base} * .875);

  // Inputs
  --input-vertical-padding: #{rem-calc(11px)};
  --input-horizontal-padding: #{rem-calc(15px)};
  --input-hover-horizontal-padding: #{rem-calc(15px)};
  --input-font-size: #{$font-size-base};
  --input-line-height: #{$input-btn-line-height};
  --input-color: #{c(black)};
  --input-hover-color: #{c(black)};
  --input-background-color: #{c(white)};
  --input-hover-background-color: #{c(white)};
  --input-border-color: #{c(gray, light)};
  --input-hover-border-color: #{c(gray, light)};
  --input-border-width: #{rem-calc(1px)};
  --input-border-style: solid;
  --input-border-radius: 0;
}

// Colors
@each $name, $variantList in $c-palette {
  @each $variant, $color in $variantList {
    @if ($variant == 'base') {
      :root {
        --#{"" + $name}: #{$color};
      }
    } @else {
      :root {
        --#{"" + $name}-#{$variant}: #{$color};
      }
    }
  }
}

// Fonts
@each $name, $font in $font-stacks {
  :root {
    --#{$name}: #{$font};
  }
}
