@use "../variables" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @include font();
  color: var(--body-text);
  background-color: var(--body-bg);
}

@include headings() {
  font-family: var(--font-stack-headings);
}

a {}
